* {
    box-sizing: border-box;
}

body {
    background-color: rgb(250, 250, 225);

}

.logo_name {
    font-size: 60px;
    text-decoration: none;
    color: rgb(82, 73, 205);
    margin-left: 10px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: -50px;
    margin-bottom: 60px;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;

}

li {
    float: right;
}

li a {
    display: block;
    font-size: 20px;
    padding: 8px;
    color: rgb(82, 73, 205);
    text-decoration: none;
}

li a:hover {

    background-color: rgba(68, 204, 253, 0.2);
}

li a:active {
    color: rgb(253, 71, 30);
    background-color: transparent;
}

.greeting {
    margin-top: 80px;
    margin-left: 5px;
    letter-spacing: 0.1px;
    font-size: 18px;

}

.project_title {
    margin-top: 40px;
    text-align: center;
    line-height: 0.5;
    font-family: 'Montserrat', sans-serif;
}



a:-webkit-any-link {
    color: rgb(82, 73, 205);
    cursor: pointer;
    text-decoration: none;
}

a:-webkit-any-link:hover {
    color: green;
}

.flex-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(82, 73, 205); */
    height: 300px;
}

.flex-container>div {
    background-color: #f1f1f1;
    width: 100%;
    margin: 20px;
    text-align: center;
    line-height: 80px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;

}

p {
    font-family: 'Montserrat', sans-serif;
    margin-left: 10px;
}


/* PROJECTS SECTION  */

.projects-section {
    text-align: center;
    padding: 2.5rem 2rem;
}

.projects-section-header {
    font-family: Tahoma, sans-serif;
    text-transform: capitalize;
    font-size: 20px;
    max-width: 80%;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid azure;
    color: rgb(82, 73, 205);
}

/* MEDIA */
@media (max-width: 900px) {
    .projects-section-header {
        font-size: 0.1rem;
    }

    .logo_name {
        font-size: 1.5rem;
        margin-left: 5px;
    }

    li a {
        display: inline-block;
        font-size: 1.2rem;
        padding: 10px;
        margin-top: 15px;
    }

}

/* MEDIA END */

/* "Automagic" image grid using no media queries */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin-top: -60px;
}

/* MEDIA */
@media (max-width: 30.625em) {
    .projects-section {
        padding: 4rem 1rem;
    }

    .projects-grid {
        grid-template-columns: 1fr;
    }
}

/* MEDIA END */


.project {
    background-color: rgba(248, 242, 157, 0.3);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

.project:hover {
    background-color: rgba(252, 252, 77, 0.5);
}

.project-image {
    height: 70%;
    width: 60%;
    object-fit: cover;
    padding: 6px;
}

.project-title {
    font-size: 20px;
    font-family: Tahoma, sans-serif;
    padding: 2rem 0.5rem;
}


/*Floating Back-To-Top Button*/
#myBtn {
    position: fixed;
    bottom: 10px;
    float: right;
    left: 95%;
    max-width: 45px;
    width: 100%;
    font-size: 12px;
    border-color: rgba(85, 85, 85, 0.2);
    background-color: rgb(100, 100, 100);
    padding: .5px;
    border-radius: 4px;

}

/*On Hover Color Change*/
#myBtn:hover {
    background-color: purple;
}


/* END PROJECTS SECTION */


.git_hub {
    text-decoration: none;
    color: rgb(82, 73, 205);
}

.git_hub:hover {
    color: rgb(68, 204, 253);
}

.git_hub:active {
    color: rgb(253, 71, 30);
}

/* FOOTER  */

#footer {
    margin: 30px auto 10px 10px;
    font-family: 'Montserrat', sans-serif;
}

/* ABOUT SESSION PAGE */

.elena_photo {
    width: 300px;
    margin-left: 60px;
}

.ele_photo {
    width: 300px;
    margin-left: 60px;
}

.ele_javascript_photo {
    width: 400px;
    height: 280px;
    margin-left: 60px;
}